header a {
    color: black;
}
header{
    background: rgba(255,255,255,0.7);
}

.navbar-toggle .icon-bar{
    background: black;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















